.goa1{

    color: red
}
.goa2{

    color: green
}
.goa3{

    color: blue
}
.goa4{

    color: red
}
.goa5{

    color: green
}
#goa6{

    color: red
}
#goa7{

    color: green
}
#goa8{

    color: blue
}
#goa9{

    color: red
}
#goa10{

    color: green
}