body{

    background-color: rgb(184, 255, 91);
    margin: 0;
}


header a {

background-color: rgb(55, 252, 131);
padding: 0em 0 0em 7em;
width: 100%;
text-decoration: wavy;




}


header{
background-color: rgb(55, 252, 131);
position: sticky;
top:0;




}


header details{
top: 100px;



}