*{
    text-transform: uppercase;
    
}

table{
    color: #ffffff;
    background-color: #25c191;
    margin: auto;
    margin: 200px;



}
th{
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 3px;
    
    
}
.x{
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.y{
    padding-left: 173px;
}
body {
    background: linear-gradient(to bottom right, #ff5f6d, #ffc371, #6a11cb, #2575fc);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }