body{

    background-color: rgb(65, 205, 240);
    margin: 0;
}

header a {

    background-color: black;
    padding: 0em 0 0em 7em;
    width: 100%;
    text-decoration: wavy;
    
    
    
    
    }
    
    
    header{
    background-color: black;
    position: sticky;
    top:0;
    
    
    
    
    }
    
    
    header details{
    top: 100px;
    
    
    
    }
    